@if (!isLoginPage){
<div class="app-container">
  <nav class="sidebar" id="nav">
    <div class="foto">
      <img id="logo" src="assets/img/logo.png" alt="" />
    </div>
    <a routerLink="/agenda" routerLinkActive="active"><i class="bi bi-calendar-fill"></i>
      <span class="montserrat-400 ps-3">AGENDA</span></a>
    <a routerLink="/servicos" routerLinkActive="active">
      <i class="bi bi-scissors"></i><span class="montserrat-400 ps-3">SERVIÇOS</span>
    </a>
    <a routerLink="/colaboradores" routerLinkActive="active">
      <i class="bi bi-person-vcard-fill"></i>
      <span class="montserrat-400 ps-3">COLABORADORES</span></a>
    <a routerLink="/clientes" routerLinkActive="active">
      <i class="bi bi-file-person-fill"></i>
      <span class="montserrat-400 ps-3">CLIENTES</span></a>
    <div id="desenvolvido">
      <span>Desenvolvido por</span>
      <span><img src="../assets/img/riulti.png" alt="" id="img-riulti" /></span>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
} @else {
<router-outlet></router-outlet>
}