<div class="container">
  <div class="card col-xs-12">
    <h2 class="titulo-hairmony">Clientes</h2>
  </div>
  <div class="card col-xs-12">
    <div class="filtros-hairmony">
      <div class="row">
        <span> filtros ....</span>
      </div>
      <div class="row row-pesquisar">
        <button type="button" class="btn btn-secundario btn-outline-primary col-2" > 
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </span>
           Pesquisar</button>
      </div>
    </div>
  </div>

  <div class="card col-xs-12">
    <table class="table table-striped tabela-hairmony">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Celular</th>
          <th scope="col">Status</th>
          <th scope="col">Última Aparição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lucas</td>
          <td>Otto</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>
        </tr>
        <tr>
          <td>Bia</td>
          <td>Otto</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
